{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a dedicated individual who enjoys creating blogs and sharing valuable content with others. My passion lies in writing and communicating ideas effectively. With a keen eye for detail and a knack for storytelling, I strive to craft engaging and informative blog posts that resonate with readers. I am constantly researching and staying up-to-date on various topics to provide fresh and insightful perspectives. Through my blogs, I aim to inspire, educate, and entertain, fostering meaningful connections with my audience. Writing blogs allows me to express my creativity, share my knowledge, and contribute to the online community in a meaningful way.</p>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}